<a href="https://colab.research.google.com/github/riyanshiag/Data-Analysis-with-python/blob/main/Exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [ ]:
cars1 = pd.read_csv (r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv (r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, delete them and clean the dataset

In [ ]:
cars1 = cars1.loc[:, ~cars1.columns.str.contains('^Unnamed')]
cars2 = cars2.loc[:, ~cars2.columns.str.contains('^Unnamed')]

### Step 5. What is the number of observations in each dataset?

In [ ]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars (make sure to reset the index)

In [ ]:
cars = pd.concat([cars1, cars2])
print(cars)
cars.reset_index(drop=True, inplace=True)
cars

      mpg  cylinders  displacement  ... model  origin                        car
0    18.0          8           307  ...    70       1  chevrolet chevelle malibu
1    15.0          8           350  ...    70       1          buick skylark 320
2    18.0          8           318  ...    70       1         plymouth satellite
3    16.0          8           304  ...    70       1              amc rebel sst
4    17.0          8           302  ...    70       1                ford torino
..    ...        ...           ...  ...   ...     ...                        ...
195  27.0          4           140  ...    82       1            ford mustang gl
196  44.0          4            97  ...    82       2                  vw pickup
197  32.0          4           135  ...    82       1              dodge rampage
198  28.0          4           120  ...    82       1                ford ranger
199  31.0          4           119  ...    82       1                 chevy s-10

[398 rows x 9 columns]

      mpg  cylinders  displacement  ... model  origin                        car
0    18.0          8           307  ...    70       1  chevrolet chevelle malibu
1    15.0          8           350  ...    70       1          buick skylark 320
2    18.0          8           318  ...    70       1         plymouth satellite
3    16.0          8           304  ...    70       1              amc rebel sst
4    17.0          8           302  ...    70       1                ford torino
..    ...        ...           ...  ...   ...     ...                        ...
393  27.0          4           140  ...    82       1            ford mustang gl
394  44.0          4            97  ...    82       2                  vw pickup
395  32.0          4           135  ...    82       1              dodge rampage
396  28.0          4           120  ...    82       1                ford ranger
397  31.0          4           119  ...    82       1                 chevy s-10

[398 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [ ]:
data = np.random.randint(15000,73000,size=398)

### Step 8. Add the column owners to cars

In [ ]:
cars['owners']=data
cars

      mpg  cylinders  displacement  ... origin                        car  owners
0    18.0          8           307  ...      1  chevrolet chevelle malibu   56298
1    15.0          8           350  ...      1          buick skylark 320   69230
2    18.0          8           318  ...      1         plymouth satellite   69484
3    16.0          8           304  ...      1              amc rebel sst   32178
4    17.0          8           302  ...      1                ford torino   68173
..    ...        ...           ...  ...    ...                        ...     ...
393  27.0          4           140  ...      1            ford mustang gl   68990
394  44.0          4            97  ...      2                  vw pickup   49320
395  32.0          4           135  ...      1              dodge rampage   66504
396  28.0          4           120  ...      1                ford ranger   27534
397  31.0          4           119  ...      1                 chevy s-10   55518

[398 rows x 10 columns]