<a href="https://colab.research.google.com/github/riyanshiag/Data-Analysis-with-python/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [ ]:
crime=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv")
crime

    Year  Population     Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0   1960   179323175   3384200  ...    912100        1855400         328200
1   1961   182992000   3488000  ...    949600        1913000         336000
2   1962   185771000   3752200  ...    994300        2089600         366800
3   1963   188483000   4109500  ...   1086400        2297800         408300
4   1964   191141000   4564600  ...   1213200        2514400         472800
5   1965   193526000   4739400  ...   1282500        2572600         496900
6   1966   195576000   5223500  ...   1410100        2822000         561200
7   1967   197457000   5903400  ...   1632100        3111600         659800
8   1968   199399000   6720200  ...   1858900        3482700         783600
9   1969   201385000   7410900  ...   1981900        3888600         878500
10  1970   203235298   8098000  ...   2205000        4225800         928400
11  1971   206212000   8588200  ...   2399300        4424200         948200
12  1972   208230000   8248800  ...   2375500        4151200         887200
13  1973   209851000   8718100  ...   2565500        4347900         928800
14  1974   211392000  10253400  ...   3039200        5262500         977100
15  1975   213124000  11292400  ...   3265300        5977700        1009600
16  1976   214659000  11349700  ...   3108700        6270800         966000
17  1977   216332000  10984500  ...   3071500        5905700         977700
18  1978   218059000  11209000  ...   3128300        5991000        1004100
19  1979   220099000  12249500  ...   3327700        6601000        1112800
20  1980   225349264  13408300  ...   3795200        7136900        1131700
21  1981   229146000  13423800  ...   3779700        7194400        1087800
22  1982   231534000  12974400  ...   3447100        7142500        1062400
23  1983   233981000  12108600  ...   3129900        6712800        1007900
24  1984   236158000  11881800  ...   2984400        6591900        1032200
25  1985   238740000  12431400  ...   3073300        6926400        1102900
26  1986   240132887  13211869  ...   3241410        7257153        1224137
27  1987   242282918  13508700  ...   3236184        7499900        1288674
28  1988   245807000  13923100  ...   3218100        7705900        1432900
29  1989   248239000  14251400  ...   3168200        7872400        1564800
30  1990   248709873  14475600  ...   3073900        7945700        1635900
31  1991   252177000  14872900  ...   3157200        8142200        1661700
32  1992   255082000  14438200  ...   2979900        7915200        1610800
33  1993   257908000  14144800  ...   2834800        7820900        1563100
34  1994   260341000  13989500  ...   2712800        7879800        1539300
35  1995   262755000  13862700  ...   2593800        7997700        1472400
36  1996   265228572  13493863  ...   2506400        7904700        1394200
37  1997   267637000  13194571  ...   2460526        7743760        1354189
38  1998   270296000  12475634  ...   2329950        7373886        1240754
39  1999   272690813  11634378  ...   2100739        6955520        1152075
40  2000   281421906  11608072  ...   2050992        6971590        1160002
41  2001   285317559  11876669  ...   2116531        7092267        1228391
42  2002   287973924  11878954  ...   2151252        7057370        1246646
43  2003   290690788  11826538  ...   2154834        7026802        1261226
44  2004   293656842  11679474  ...   2144446        6937089        1237851
45  2005   296507061  11565499  ...   2155448        6783447        1235859
46  2006   299398484  11401511  ...   2183746        6607013        1192809
47  2007   301621157  11251828  ...   2176140        6568572        1095769
48  2008   304374846  11160543  ...   2228474        6588046         958629
49  2009   307006550  10762956  ...   2203313        6338095         795652
50  2010   309330219  10363873  ...   2168457        6204601         739565
51  2011   311587816  10258774  ...   2185140        6151095         716508
52  2012   313873685  10219059  ...   2109932        6168874         723186
53  2013   316497531   9850445  ...   1931835        6018632         700294
54  2014   318857056   9475816  ...   1729806        5858496         689527

[55 rows x 12 columns]

### Step 4. What is the type of the columns?

In [ ]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [ ]:
crime['Year'] = pd.to_datetime(crime['Year'])
crime.Year.dtype

dtype('<M8[ns]')

### Step 6. Set the Year column as the index of the dataframe

In [ ]:
present=crime.set_index("Year")
present

                               Population  ...  Vehicle_Theft
Year                                       ...
1970-01-01 00:00:00.000001960   179323175  ...         328200
1970-01-01 00:00:00.000001961   182992000  ...         336000
1970-01-01 00:00:00.000001962   185771000  ...         366800
1970-01-01 00:00:00.000001963   188483000  ...         408300
1970-01-01 00:00:00.000001964   191141000  ...         472800
1970-01-01 00:00:00.000001965   193526000  ...         496900
1970-01-01 00:00:00.000001966   195576000  ...         561200
1970-01-01 00:00:00.000001967   197457000  ...         659800
1970-01-01 00:00:00.000001968   199399000  ...         783600
1970-01-01 00:00:00.000001969   201385000  ...         878500
1970-01-01 00:00:00.000001970   203235298  ...         928400
1970-01-01 00:00:00.000001971   206212000  ...         948200
1970-01-01 00:00:00.000001972   208230000  ...         887200
1970-01-01 00:00:00.000001973   209851000  ...         928800
1970-01-01 00:00:00.000001974   211392000  ...         977100
1970-01-01 00:00:00.000001975   213124000  ...        1009600
1970-01-01 00:00:00.000001976   214659000  ...         966000
1970-01-01 00:00:00.000001977   216332000  ...         977700
1970-01-01 00:00:00.000001978   218059000  ...        1004100
1970-01-01 00:00:00.000001979   220099000  ...        1112800
1970-01-01 00:00:00.000001980   225349264  ...        1131700
1970-01-01 00:00:00.000001981   229146000  ...        1087800
1970-01-01 00:00:00.000001982   231534000  ...        1062400
1970-01-01 00:00:00.000001983   233981000  ...        1007900
1970-01-01 00:00:00.000001984   236158000  ...        1032200
1970-01-01 00:00:00.000001985   238740000  ...        1102900
1970-01-01 00:00:00.000001986   240132887  ...        1224137
1970-01-01 00:00:00.000001987   242282918  ...        1288674
1970-01-01 00:00:00.000001988   245807000  ...        1432900
1970-01-01 00:00:00.000001989   248239000  ...        1564800
1970-01-01 00:00:00.000001990   248709873  ...        1635900
1970-01-01 00:00:00.000001991   252177000  ...        1661700
1970-01-01 00:00:00.000001992   255082000  ...        1610800
1970-01-01 00:00:00.000001993   257908000  ...        1563100
1970-01-01 00:00:00.000001994   260341000  ...        1539300
1970-01-01 00:00:00.000001995   262755000  ...        1472400
1970-01-01 00:00:00.000001996   265228572  ...        1394200
1970-01-01 00:00:00.000001997   267637000  ...        1354189
1970-01-01 00:00:00.000001998   270296000  ...        1240754
1970-01-01 00:00:00.000001999   272690813  ...        1152075
1970-01-01 00:00:00.000002000   281421906  ...        1160002
1970-01-01 00:00:00.000002001   285317559  ...        1228391
1970-01-01 00:00:00.000002002   287973924  ...        1246646
1970-01-01 00:00:00.000002003   290690788  ...        1261226
1970-01-01 00:00:00.000002004   293656842  ...        1237851
1970-01-01 00:00:00.000002005   296507061  ...        1235859
1970-01-01 00:00:00.000002006   299398484  ...        1192809
1970-01-01 00:00:00.000002007   301621157  ...        1095769
1970-01-01 00:00:00.000002008   304374846  ...         958629
1970-01-01 00:00:00.000002009   307006550  ...         795652
1970-01-01 00:00:00.000002010   309330219  ...         739565
1970-01-01 00:00:00.000002011   311587816  ...         716508
1970-01-01 00:00:00.000002012   313873685  ...         723186
1970-01-01 00:00:00.000002013   316497531  ...         700294
1970-01-01 00:00:00.000002014   318857056  ...         689527

[55 rows x 11 columns]

### Step 7. Delete the Total column

In [ ]:
present = present.drop(columns='Total')

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake, use max for Population instead

In [ ]:
present.reset_index()
decade= ['60s','60s','60s','60s','60s','60s','60s','60s','60s','60s','70s','70s','70s','70s','70s','70s','70s','70s','70s','70s','80s','80s','80s','80s','80s','80s','80s','80s','80s','80s','90s','90s','90s','90s','90s','90s','90s','90s','90s','90s','200s','200s','200s','200s','200s','200s','200s','200s','200s','200s','201s','201s','201s','201s','201s']
present['decade'] = decade

res = present.groupby('decade', as_index=False,).sum()
print(res)

  decade  Population   Violent  ...  Violent_sum  Burglary_sum  Population_max
0   200s  2947969117  13968056  ...    139680560     215651760      3070065500
1   201s  1570146307   6072017  ...     30360085      50625850      1594285280
2    60s  1915053175   4134930  ...     41349300     133211000      2013850000
3    70s  2121193298   9607930  ...     96079300     284860000      2200990000
4    80s  2371370069  14074328  ...    140743280     330734940      2482390000
5    90s  2612825258  17527048  ...    175270480     267500150      2726908130

[6 rows x 18 columns]

### Step 9. What is the most dangerous decade category wise?

In [ ]:
res.max(axis = 0)

decade                       90s
Population            2947969117
Violent                 17527048
Property               119053499
Murder                    211664
Forcible_Rape             998827
Robbery                  5748930
Aggravated_assault      10568963
Burglary                33073494
Larceny_Theft           77679366
Vehicle_Theft           14624418
col1_sum               175270480
col4_sum               330734940
col2_max                       0
col3_max                       0
Violent_sum            175270480
Burglary_sum           330734940
Population_max        3070065500
dtype: object