<a href="https://colab.research.google.com/github/riyanshiag/Data-Analysis-with-python/blob/main/The_Bonus_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BONUS QUESTION

### What do you think is the most successful video game franchise?

Conclusions must be drawn strictly through exploratory analysis of the data set loaded into the games_df dataframe 


Hint: Focus on the top 10 biggest publishers by global sales

In [ ]:
!pip install opendatasets --upgrade
import opendatasets as od
import pandas as pd

Collecting opendatasets
  Downloading opendatasets-0.1.20-py3-none-any.whl (14 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.41.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.5.30)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.20

In [ ]:
dataset_url = 'https://www.kaggle.com/gregorut/videogamesales'
od.download('https://www.kaggle.com/gregorut/videogamesales')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: riyanshiagrawal21
Your Kaggle Key: ··········

100%|██████████| 381k/381k [00:00<00:00, 41.8MB/s]

Downloading videogamesales.zip to ./videogamesales

In [ ]:
games_df = pd.read_csv(r'/content/videogamesales/vgsales.csv')

In [ ]:
final_df = games_df.sort_values(by=['Global_Sales'], ascending=False)
final_df[0:10]

   Rank                       Name  ... Other_Sales  Global_Sales
0     1                 Wii Sports  ...        8.46         82.74
1     2          Super Mario Bros.  ...        0.77         40.24
2     3             Mario Kart Wii  ...        3.31         35.82
3     4          Wii Sports Resort  ...        2.96         33.00
4     5   Pokemon Red/Pokemon Blue  ...        1.00         31.37
5     6                     Tetris  ...        0.58         30.26
6     7      New Super Mario Bros.  ...        2.90         30.01
7     8                   Wii Play  ...        2.85         29.02
8     9  New Super Mario Bros. Wii  ...        2.26         28.62
9    10                  Duck Hunt  ...        0.47         28.31

[10 rows x 11 columns]